.container{
    margin-top: 2%;
}

.top{
    margin-bottom: -20px;
}

Header{
    width: 100%;
}

.cont{
    margin-top: 20px;
    margin-bottom: -20px;
}

.product{
    color:black;
    margin-bottom: -3px;
}

.brand{
    color: black;
    font-size: 18pt;
    font-style: bold;
}

.button{
    margin-right: 5px;
}


.hr-weigh{
    color: black;
    width: 83.2%;
}

.container{
   width: 100%;
}

.width{
    margin-bottom: 50px;
}

.card{
    margin-top: -20px;
    padding-top: 10px;

}

.width{
    text-align: center;
}


.card-text{
    margin-bottom: 0px;
}

.delete-checkbox{
    padding-left: 25px;
    padding-top: 10px;
}

