body{
    margin: 0px;
    padding: 0px;
}

.todoConteudologin{
    background-color: rgb(233, 230, 230);
    width: 100%;
    height: 100vh;
    align-items: center;
}

.boxContainer{
    border-radius: 20px;
    margin: 0 auto;
    width: 400px;
    height: 530px;
    color: white;
    background-color: #303030;
    box-shadow: 1px 1px 15px 5px #444444;
}

.inputsLogin{
    margin-top: 35px;
}

.inpute{
    margin: 0 auto;
    width: 80%;
    height: 70%;
}

#inputeId{
    margin-bottom: 4%;
}

.campos{
    margin: 0 auto;
    width: 80%;
    height: 70%;
    padding-bottom: 10px;

}

.btnLogin{
    border-radius: 8px;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: bold;
}

.logoContainer{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    width: 320px;
    height: 230px;
    margin-bottom: 10px;
}

.imagem{
    width: 150px;
    height: 150px;
}

#title{
    font-weight: bold;
    margin-top: -25px;
    font-size: 17pt;
}

#subTitle{
    font-size: 14pt; 
    margin-top: -8px;
}

.logoTitle{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
