.head{
    background-color: #272727;
    width: 70px;
    height: 100vh;
    position: fixed;
    z-index: 4;
}

.logoNav{
    width: 70px;
    height: 70px;
    margin-top: -5px
}

.teste{
    width: 75px;
    height: 50px; 
    padding-top: 6px;   
    padding-left: 18px;
}

.teste:hover{
    background-color: #494949;  
    transition: 0.05s;
    opacity: 1;
    box-shadow: -2px -1px 16px 5px rgba(0,0,0,0.43)
}

.navIcons{
    width: 30px;
    height: 30px;
    color: white;
}

#navUse{
    justify-content: center;
    color: white;
    filter: contrast(100%);
    margin-left: 3px;
}

.iconsNav{
    margin: 33vh 0;
}

.icones{
    margin-left: 0px;
    padding-bottom: 5px;
}

.btnMenu{    
    padding-right: 2px;
    margin-left: 18px;
}

